extends ../layout

block adminNav
    include ../adminNav

block content
    h1= title
    p Welcome to #{title}
    hr
    p Here you will be able to see a basic summary of information about who you are and the tutoring center you're in,
    p and generate detailed and very customizable reports based on your specific needs. Reports are downloaded as a
    p Microsoft Excel spreadsheet file into your browsers download bin. Additionally, you can configure and customize
    p options about the tutoring center and it will be saved to your profile.
