extends ../layout

block secondaryNav
    include ../adminNav

block content
    h1= title
    p Welcome to #{title}

    form#linkDisplay(action='/admin/downloadReport' method='post')
        input(type='submit' value='Get Report')