extends ../layout

block adminNav
    include ../adminNav

block content
    h1= title
    p Welcome to #{title}

    div.form-group
        form#linkDisplay(action='/admin/generateReport' method='post')
            button.btn.btn-default(type='submit') Generate Report

    div.form-group
        form#listReports(action='/admin/downloadReport' method='post')
            if (files)
                label(class='label' for='fileSelector') File
                    select.form-control(name='fileSelector' id='fileSelector')
                        - for (var i = 0; i < files.length; i++)
                            option(value=files[i]) #{files[i]}
            button.btn.btn-default(type='submit') Download Report