block secondaryNav
    ul
        li
            a(href='/admin/options') Configuration
        li
            a(href='/admin/reports') Reports
        li
            a(href='/admin/statistics') Statistics
