block adminNav
    div.adminNavWrapper
        ul.nav.nav-pills(role='tablist')
            li(role='presentation')
                a.adminNavLink(href='/admin/options')
                    | Options
            li(role='presentation')
                a.adminNavLink(href='/admin/reports')
                    | Reports
            li(role='presentation')
                a.adminNavLink(href='/admin/statistics')
                    | Statistics