doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        nav(class='top-nav')
            div
                ul
                    li
                        a(href='/tutorCenter') Poly:MLC
                    li
                        a(href='/admin') Admin
        block secondaryNav
        div
            block content